@model NewMovie

@{
    ViewData["Title"] = "Add a Movie";
}
<h1>@ViewData["Title"]</h1>
<h3>Enter the information for a movie to submit it to the database!</h3>

<form method="post">
    <select asp-for="CategoryId">
        <option value="">Select Category</option>
        @foreach (Category x in ViewBag.Categories)
        {
            <option value="@x.CategoryId">@x.CategoryName</option>
        }
    </select>

    <br/>
    <label asp-for="Title">Title</label>
    <input asp-for="Title" required/>
    <br/>
    <label asp-for="Year">Year</label>
    <input asp-for="Year" required/>
    <br/>
    <label asp-for="Director">Director</label>
    <input asp-for="Director" required/>
    <br/>
    <label asp-for="Rating">Rating</label>
    <select asp-for="Rating" required>
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select>
    <br/>
    <label asp-for="Edited">Edited</label>
    <select asp-for="Edited">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br/>
    <label asp-for="LentTo">Lent To</label>
    <input asp-for="LentTo"/>
    <br/>
    <label asp-for="CopiedToPlex">Copied to Plex?</label>
    <select asp-for="CopiedToPlex">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br/>
    <label asp-for="Notes">Notes</label>
    <input asp-for="Notes"/>
    <br/>

    <button type="submit">Submit Movie</button>
</form>