@{
}

@model Movie

<h2>Confirm Deletion</h2>
<h3>@Model.Title</h3>

<form method="post">
    <input type="hidden" asp-for="MovieId"/>
    
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-info" asp-controller="Home" asp-action="ViewMovies">Cancel</a>
</form>