@{
    ViewData["Title"] = "Joel Hilton";
}
<h1>Get to know Joel!</h1>

<div>
    <h2>See him perform:</h2>
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
    <br/>
    <h2>Visit the Baconsale Site:</h2>
    <a href="https://baconsale.com/">Baconsale</a>
    <a href="https://baconsale.com/">
        <img src="BaconsaleKate.jpg" alt="Baconsale Team"/>
    </a>
    
</div>